.oculos-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.oculos-lista h2 {
  margin-bottom: 40px;
}
.oculos-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

#oculos .oculos-lista ul {
  padding: 0 0 20px 0;
}

.oculos-lista li {
  min-width: 280px;
}

.oculos-lista a {
  display: block;
}

.oculos-lista img {
  margin-bottom: 16px;
}

.oculos-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.oculos-lista h3::before {
  content: "";
  display: inline-block;
  background-color: var(--cor-p1);
  height: 8px;
  width: 12px;
  margin-right: 8px;
  transition: widht .3;
}

.oculos-lista a:hover h3::before {
  width: 20px;
}

.oculos-lista li span {
  padding-left: 20px; /* 8+12*/
}

@media (max-width: 800px) {
  .oculos-lista {
    padding-bottom: 60px;
  }
  .oculos-lista ul {
    gap: 20px;
  }
}