.oculos-bg {
  background: linear-gradient(to right, var(--cor-1) 30%, var(--cor-11) 0%);
}

.oculos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.oculos-imagem {
  display: grid;
}

.oculos-imagem img{
  grid-area: 1/1;
}

.oculos-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-11);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.oculos-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.oculos-conteudo h2, .oculos-conteudo p {
  grid-column: 1/-1;
}

.oculos h2 {
  margin-bottom: 20px;
}

.oculos h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.oculos p {
  margin-bottom: 32px;
}

.oculos a {
  place-self: end;
}

.oculos li {
  display: flex;
  align-items: center;
}

.oculos ul {
  display: grid;
  gap: 16px;
}

.oculos-conteudo img{
 width: 24px;
 margin-right: 8px;
}

@media (max-width:800px) {
  .oculos-bg {
    background: var(--cor-11);
  }
  .oculos {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width:600px) {
  .oculos-conteudo {
    grid-template-columns: 1fr;
  }
  .oculos ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .oculos a {
    place-self: start;
  }
}